body, html {
    padding:0;
    margin: 0 auto;
    background-image: url('img/technomart-index.jpg');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-color: tomato;
    width: 1200px;
}


.main-header {
    background-color: rgba(0,128,0,0.2);
    margin-bottom: 59px;
    min-height: 320px;
    width: 100%;
}

.header-top {
    min-height: 42px;
    background-color: #293449;
    opacity: 0.9;
    
}

.header-logo {
    width: 220px;
    background-color: #ee3643;
    min-height: 42px;
    opacity: 0.9;
    /*position: absolute;*/
    
}

.header-search {
    min-height: 42px;
    width: 110px;
    
}

.header-bookmarks {
    background-color: rgb(120,120,120);
    width: 100px;
    min-height: 42px;
}

.header-cart {
    background-color: pink;
    width: 100px;
    min-height: 42px;
}

.header-order {
    background-color: #63a63e;
    width: 150px;
    min-height: 42px;
}

.header-top .container-wrapper {
    display: flex;
    width: 1200px;
}

.header-top .container-right {
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
}

.header-top  .container-left {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
}







.header-bottom {
    background-color: #f4f7f9;
    min-height: 278px;
    opacity: 0.8;
    
    }

.header-about-company {
    min-height: 60px;
    width: 196px;
    background-color: rebeccapurple;
    margin-left: 130px;
    opacity: 0.5;
}

.header-contacts {
    min-height: 60px;
    width: 270px;
    background-color:purple;
    opacity: 0.5;
}

.header-login {
    min-height: 60px;
    width: 281px;
    background-color:deeppink;
    margin-right: 90px;
    opacity: 0.5;
    
}

.main-navigation {
    min-height: 60px;
    width: 940px;
    background-color: plum;
    margin-bottom: 0;
    opacity: 0.5;
}

.site-navigation {
    margin:0;
    padding:0;
    list-style: none;
}

.header-bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #f4f7f9;*/
    width: 1200px;
    
    
    
}

.header-bottom .container-wrapper {
    margin-bottom: 52px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
    
}


    


    
